* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* Variables */
  --main-color: #e2a97c;
  --accent-color: #84cdca;

  /* Background Colours */
  --secondary-bg: #f5f5f5;
  --tertiary-bg: #595959;
      
  --main-fontcolor: #666666;
  --second-fontcolor: #fff;
}

body {
  color: var(--main-fontcolor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

/* home styling */
.home{    
  height: 100vh;
  font-size: 46px;    
}

.home p span {
  color: var(--main-color);
  font-weight: bold;
}

.home a {
  padding: 5px 50px;
  font-size: 24px;
  color: var(--main-fontcolor);
  
  border: 2px var(--accent-color) solid;
  border-radius: 10px;
}

.home a:hover {
  background: var(--accent-color);
  color: var(--second-fontcolor);
}

/* navbar styling */
nav {
  z-index: 9999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: right;

  padding: 10px 10vw ;
  font-size: 24px;

  background-color: var(--main-color);
}

nav ul li a {
  padding: 0 10px;
  margin: 0 20px;
  color: var(--second-fontcolor);
}

nav ul li a:hover {
  color: var(--accent-color);
}

/* about styling */
.section-title {
  font-size: 46px;
  padding-top: 10vh;
  padding-bottom: 20px;
  border-bottom: 3px solid;
  margin-bottom: 50px;
}

.primary-border {
  border-color: var(--accent-color);
}

.secondary-border {
  border-color: var(--main-color);
}

.section-content {
  padding-bottom: 10vh;
  margin: 0 10vw;
}

.about p {
  margin: 25px 0;
}

.about-pfp {
  font-size: 16px;
}

.about-pfp img {
  border-radius: 50%;
  height: 400px;
}

.about-pfp span {
  color: var(--main-color);
  font-weight: bold;
  font-size: 24px;
}

.about-info {    
  text-align: left;
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.about-info a {
  color: var(--accent-color);
}

.about-skills ul {
  margin-top: 25px;
  display: flex;    
  flex-wrap: wrap;
}

.about-skills ul li {
  border-radius: 30px;
  background-color: var(--accent-color);
  color: var(--second-fontcolor);
  padding: 0 25px;
  margin: 2px;
}

/* project styling */
.projects {
  background-color: var(--secondary-bg);
}

.projects-content {
  flex-wrap: wrap;
}

.project {
  flex-grow: 1;
  width: 400px;
  height: 200px;
  margin: 5px 5px;
  filter: brightness(50%);
}

.project:hover {
  filter: brightness(100%);
}

.project:first-child {
  width: 100%;
  height: 400px;
}

.project-info {
  color: var(--second-fontcolor);
  text-align: left;
  position: relative;
  z-index: 500;

  background-color: var(--accent-color);
  bottom: 100px;
  padding: 0 50px;
}

.project-info p {
  font-size: 18px;
}

.project a img {
  height: 100%; 
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 25px;
}


/* contact styling */
.contact {
  background-color: var(--tertiary-bg);
  color: var(--second-fontcolor); 
  font-size: 20px;
}

.contact p {
  text-align: center;
  color: var(--accent-color);
  margin-bottom: 50px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px 0;
  background-color: rgba(255, 255, 255, 0.75) ;
}

.contact-form input:hover,
.contact-form textarea:hover {
  background-color: rgba(255, 255, 255, 1);
  outline: none; 
}

textarea {
  height: 200px;
  resize: none;
}

.contact-form button {
  display: block;
  float: right;

  padding: 5px 50px;
  background-color: var(--accent-color);
  color: var(--second-fontcolor-);
  
  border: 2px var(--accent-color) solid;
  border-radius: 10px;
  filter: brightness(75%);
}

.contact-form button:hover {
  filter: brightness(100%);
}

/* footer styling */
footer {
  text-align: center;
  background-color: var(--tertiary-bg);
  border-top: 3px var(--tertiary-fontcolor) solid;
  padding: 25px 0;
}

footer img {
  background: var(--main-fontcolor);
  border-radius: 50%;
  height: 75px;
  margin-bottom: 25px;
}

footer img:hover {
  filter: brightness(75%);   
}

footer p {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  color: var(--tertiary-fontcolor);
}

/* small desktop screens */
@media screen and (max-width: 980px) {
  .flex-center {
      flex-wrap: wrap;
  }

  nav ul {
      padding: 10px 10px;
  }
  nav ul li a {
      padding: 0 10px;
      margin: 0 10px;
  }

  .project:first-child {
      height: 250px;
  }

  .project {
      height: 150px;
  }
}

/* mobile phones and smaller */
@media screen and (max-width: 575px) {
  nav {
      position: relative;
  }

  .project-info {
      padding: 0px 25px;
  }
}